.typstmate-leaf {
  margin: 1em;
  height: 100%;
}

.typstmate-leaf div.typstmate-menu {
  display: flex;
}

.typstmate-leaf div.typstmate-menu button {
  margin-left: auto;
}

.typstmate-leaf div.typstmate-content {
  margin-top: 1em;
  width: 100%;
  height: 100%;
}

.typstmate-leaf div.typstmate-content select {
  margin-bottom: 4pt;
}

.typstmate-leaf div.typstmate-content iframe {
  width: 100%;
  height: 100%;
}

.typstmate-leaf-snippet {
  margin: 1.5em 0;
  border-bottom: 1px solid var(--background-accent);
}

.typstmate-leaf-snippet-preview {
  white-space: pre-wrap;
}

.typstmate-leaf-snippetext-preview {
  margin: 1.5em, 0;
}
