.typstmate-leaf {
  margin: 1em;
  height: 100%;
}

.typstmate-leaf div {
  display: flex;
}

.typstmate-leaf div button {
  margin-left: auto;
}

.typstmate-leaf iframe {
  margin-top: 1em;
  width: 100%;
  height: 100%;
}
