/*
 * 参照: Typst -- `rs typst_assets::fonts()`
 * 参照: MathJax -- `js MathJax.chtmlStylesheet()`
 * MathJax のフォントは, JS 側の関数による副作用で自動的に読み込まれる
 */
@font-face {
  font-family: "NewComputerModernMath";
  src: url("https://mirrors.ctan.org/fonts/newcomputermodern/otf/NewCMMono10-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.typstmate__symbol {
  font-family: "NewComputerModernMath", "MJXZERO", "MJXTEX-S1", "MJXTEX-S4", "MJXTEX", "MJXTEX-A", monospace;
}

.cm-math {
  font-family: "NewComputerModernMath", var(--font-family), monospace;
}

.typstmate-atmode .cm-math {
  background: linear-gradient(
    66.6deg,
    #ff9fb3 0%,
    #ffd29a 18%,
    #fff48b 36%,
    #bff0a8 54%,
    #9dd7ff 72%,
    #d3b7ff 90%,
    #ff9fb3 100%
  );
  animation: typstmate-rainbow 1s linear infinite;
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes typstmate-rainbow {
  0% {
    background-position: 100% center;
  }
  100% {
    background-position: -100% center;
  }
}
